<h1>Songs Page</h1>

<a href="/songs/new"> Post a new song! </a>

<% @songs.each do |song| %>
<div class ="song">
  <h3>Title: <%= song.title %></h3>
  <h4>Singer: <%= song.author %></h4>
  <h5>url: <%= song.url %></h5>
</div>

<% end %>
